################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Builds
/Library
/obj
/Temp
*.csproj
*.sln